<% 	--[[=========== STYLES ==========]] %>
<%+tsmodem/css%>

<% --[[=========== JS ==========]] %>
<%+tsmodem/ui_utils/utils.js%>
<%+tsmodem/ui_utils/external.js%>
<%+tsmodem/ui_utils/websocket.js%>
<%+tsmodem/ui_override/TextFieldStyled.js%>
<%+tsmodem/modal_switch_sim%>
<%+tsmodem/sim.js%>
<%+tsmodem/sim_modal%>


<% --[[=========== UI WIDGETS ==========]] %>
<%+tsmodem/ui_widget/UIEventBus.js%>
<%+tsmodem/ui_widget/UITextareaHighlighted.js%>

<% --[[=========== LUA BACKEND ==========]] %>

<%
	local config = "tsmodem"
	local uci = require "luci.model.uci".cursor()
	local util = require "luci.util"


	local sims_config = {} 	-- got from UCI config
	local sims_state = {}	-- got from realtime data
	sims_state = {
		["0"] = {
			balance = 29.30,
			balance_date = "15.05.2021",
			rssi = 21,
			bor = 0
		},
		["1"] = {
			balance = 280.55,
			balance_date = "15.05.2021",
			rssi = 28,
			bor = 1
		}

	}

	local ubus_sim = util.ubus("tsmodem.driver", "sim", {})
	local ubus_balance = util.ubus("tsmodem.driver", "balance", {})

	local sim_id = nil
	if(ubus_sim and type(ubus_balance) == "table") then
		sim_id = ubus_sim["value"]
	end



	if (sim_id and ((sim_id == "0") or (sim_id == "1")) and ubus_balance and (type(ubus_balance) == "table")) then
		uci:set("tsmodem", "sim_" .. sim_id, "balance", tostring(ubus_balance["value"]))
		uci:set("tsmodem", "sim_" .. sim_id, "balance_time", tostring(ubus_balance["time"]))
		uci:commit(config)


	end


	uci:foreach(config, "sim", function(a)
		sims_config[#sims_config+1] = a
	end)
	util.perror("=========================")
	util.dumptable(sims_config)
	local i = 1
	local function animationWrapper(str, is_active)
		local html = ''
		str = "" .. str
		if is_active then
			for c=1, #str do
				html = html .. string.format('<span class="anime">%s</span>', str:sub(c,c))
			end
		else html = str end
		return html
	end
%>

<% --[[=========== HTML ==========]] %>
<div id="view">
	<!--<h2 name="content">Мобильное устройство дистанционного управления</h2>-->
	<h2 name="content"><%:Mobile device of distant control %></h2>
	<div class="cbi-map-descr">
		<p><%:Communication with the mobile device is supported by the main and reserved channels. %>
		<br/><%:Switching to the reserved channel is performed when the following events occur %>:</p>
			<ul>
				<li><%:Loss of registration in the network %></li>
				<li><%:Weak signal %></li>
				<li><%:Balance below minimum %></li>
			</ul>
		</p>

	</div>
	<h3><%:GSM network channels (SIM cards states) %></h3>

	<div class="table">
		<div class="tr table-titles">
			<div class="th">N</div>
			<div class="th"><%:Name %></div>
			<div class="th" style="width: 33%;"><%:Status %></div>
			<div class="th"><%:Strength %></div>
			<div class="th"><%:Balance %></div>
			<div class="th center nowrap cbi-section-actions"><%:Actions %></div>
		</div>
		<% for k, v in util.kspairs(sims_config) do
			local index = tostring(v[".index"])
			local simid = v[".name"]:sub(5,5)
			local is_active = (v.status == '1')
			local balance = v.balance or "0"
			local balance_date = os.date("%Y-%m-%d %H:%M:%S", tonumber("v.balance_time")) or "0"
			local highlighted_balance = (sims_state[index].balance < tonumber(v.balance_min))
			local bor = sims_state[index].bor
			if bor == 0 then bor =  "&#8211;" end
		%>
			<div id="simid-<%=simid %>" class="tr cbi-rowstyle-<%=i%>">
				<div class="td" data-title="N">
					<%=v[".index"] + 1 %>
				</div>
				<div class="td" data-title="<%:Name %>" style="white-space: nowrap;">
					<%=v.name %>
				</div>
				<div class="td network_registration" style="width: 170px;" data-title="<%:Status %>">
					<% if is_active then %>
						<i style="background-position: 0 -60px;"><%:Unknown %></i>')
					<% else %>
						<i><%:Not active %></i>
					<% end	%>
				</div>
				<div class="td signal" data-title="<%:Strength %>">
					<!--
					<%=sims_state[index].rssi %> <%= v.rssi_unit %>
					-->
					-
				</div>
				<!--
				<div class="td <% if highlighted_balance then print('balance-alert') end %>" data-title="Баланс" style="white-space: nowrap;">
					<span class="balance"><%= animationWrapper(balance, is_active) %></span> <%= v.balance_unit %><br />
					<small>(на <%=balance_date %>)</small>
				</div>
				-->
				<div class="td sim_balance" data-title="<%:Balance %>" style="white-space: nowrap;">
					-
					<!--
					<span class="balance"><%= animationWrapper(balance, is_active) %></span> <%= v.balance_unit %><br />
					<small>(на <%=balance_date %>)</small>
				-->
				</div>
				<div class="nowrap cbi-section-actions td" style="text-align: right;">
					<input type="button" class="cbi-button cbi-button-apply sim-<%=simid %>"
						onclick="switch_sim(this)"
						data-simid="<%=simid %>"
						value="<%:Activate %>"
						disabled="disabled"
						<%
							-- if is_active then print('disabled="disabled"') end
						%>
						style="display: initial;" />

					<input type="button" class="cbi-button cbi-button-apply sim-<%=simid %>-settings"
						onclick="edit_sim(this)"
						data-simid="<%=simid %>"
						value="<%:Settings %>"
						style="display: initial;" />

				</div>
			</div>
			<% i = (i%2) + 1 %>
		<% end %>
	</div>
</div>

<h3 style="color: grey;"><%:Notes %></h3>
<p style="color: grey;"><%:When the SIM card is switched automatically, the provider's APN (gateway address) is automatically updated. For example, for MTS it is internet.mts.ru. %><br /><%:Go to main menu Network -> Interfaces -> TSMODEM, 'APN' field. %></p>

<h3><%:Ststem log %></h3>
<div class="table journal">
	<div class="tr table-titles">
		<div class="th" style="width: 150px;"><%:Date / time %></div>
		<div class="th" style="width: 33%;"><%:Event %></div>
		<div class="th"><%:Source %></div>
		<div class="th"><%:Command %></div>
		<div class="th" style="padding-left: 25px;"><%:Responce %></div>
	</div>
	<div class="tr journal-empty">
		<div class="td"></div>
		<div class="td" style="text-align: right; color: grey;">
			<b><i><%:System log is empty. %></i></b>
		</div>
		<div class="td"></div>
		<div class="td"></div>
		<div class="td" style="background-image: none;"></div>
	</div>
</div>
<div class="clear-journal" style="margin-top: 20px; text-align: center;">
	<input type="button" class="cbi-button cbi-button-apply"
		onclick="clearJournal()"
		value="<%:Clear the log %>"
	/>
</div>

<span id="btn_enable_spinner" class="btn_spinner"></span>
