<%
	local config = "ts_skw92a"
	local uci = require "luci.model.uci".cursor()
	local util = require "luci.util"
	local globals = uci:get_all(config, "globals")
	--util.dumptable(globals)
%>
<script type="text/javascript">
//<![CDATA[

// gets a record from uci like <settings.globals.proto='first.Протокол 1' 'second.Протокол 2' 'third.Протокол 3'>
// returns object like {"first": "Протокол 1", "second": "Протокол 2", "third": "Протокол 3"}
function widgetPopulation(uci_section, uci) {
	var section = uci.get("<%=config%>", uci_section) || [];
	return function(uci_option) {
		var population = {}
		if (section[uci_option]) {
			section[uci_option].forEach(function(p) {
				population[p.split(".")[0]] = p.split(".")[1];
			})
		}
		return population
	}
}

function edit_sim(btn) {
	var globals_data = {}
	var simid = btn.getAttribute("data-simid") || null;
	L.require("ui").then(function(ui){
		L.require("uci").then(function(uci) {
			uci.load("<%=config%>").then(function(out){
				console.log(simid)
				var sim_data = uci.get("<%=config%>", simid);
				var comm = new ui.Dropdown('sim0', {'sim0': 'Переключить SIM'} , { 
					disabled: true, 
					sort: true });

				var rssi = new ui.Textfield(sim_data["rssi_min"], {
					datatype: "rangelength(1,2)" });

				var timeout = new ui.Textfield(sim_data["timeout"], {
					datatype: "rangelength(1,4)" });



				var balance_min = new ui.Textfield(sim_data["balance_min"], {
					datatype: "rangelength(2,4)" });

				var balance_ussd = new ui.Textfield(sim_data["balance_ussd"], {
					datatype: "rangelength(3,8)" });

				var balance_mask = new ui.Textfield(sim_data["balance_mask"], {
					datatype: "rangelength(6,128)" });

console.log(sim_data)



				var memo = new ui.Textfield(sim_data["name"], {
					datatype: "rangelength(4,128)" });


				L.showModal('Редактировать реле', [
					E('div', { class: 'cbi-map' }, [
						E('div', { class: 'cbi-map-section' }, [
							E('div', { class: 'cbi-map-section-node' }, [
								E('div', { class: 'cbi-value' }, [
									E('label', { 'class': 'cbi-value-title memo-edit' }, _('Памятка') + ":"),
									E('div', { class: 'cbi-value-field memo-edit' }, [
										memo.render()
									])
								]),
								E('div', { class: 'cbi-value' }, [
									E('label', { 'class': 'cbi-value-title' }, _('Команда') + ":"),
									E('div', { class: 'cbi-value-field' }, [
										E('div', { class: 'cbi-value-field-flex'}, [
											E('div', { class: 'cbi-value-field-1col'}, [comm.render()]),
											E('div', { class: 'cbi-value-field-2col'}, [
												E('div', { class: 'table modal-section-param'}, [
													E('div', {class: 'tr table-titles'}, [
														E('div', {class: 'th', style: 'width: 100%'}, _("Параметры команды")),
														E('div', {class: 'th'}, _("Значение")),
													]),
													E('div', {class: 'tr cbi-rowstyle-1'}, [
														E('div', {class: 'td'}, "Уровень сигнала MIN, %"),
														E('div', {class: 'td', style: "text-align: right;"}, [rssi.render()])
													]),
													E('div', {class: 'tr cbi-rowstyle-2'}, [
														E('div', {class: 'td'}, "Время не в сети MAX, сек"),
														E('div', {class: 'td', style: "text-align: right;"}, [timeout.render()])
													]),
													E('div', {class: 'tr cbi-rowstyle-1'}, [
														E('div', {class: 'td'}, "Баланс MIN, руб"),
														E('div', {class: 'td', style: "text-align: right;"}, [balance_min.render()])
													])
												]),
												E('div', { class: 'table modal-section-param'}, [
													E('div', {class: 'tr cbi-rowstyle-2'}, [
														E('div', {class: 'td', style: 'width: 100%'}, _("USSD-команда баланса")),
														E('div', {class: 'td'}, [balance_ussd.render()]),
													]),
													E('div', {class: 'tr cbi-rowstyle-1'}, [
														E('div', {class: 'td'}, "Шаблон SMS-сообщенияо балансе"),
														E('div', {class: 'td', style: "text-align: right;"}, [balance_mask.render()])
													])
												]),
												E('button', {
													class: 'cbi-button cbi-button-apply',
													disabled: 'disabled',
													style: 'display: initial;'
												}, _('Скрыть дополнительные параметры') )
											])
										])
									])
								]),
							])
						])
					]),
					E('div', { class: 'cbi-value-field' }, [
						E('div', { class: 'btn', click: L.hideModal }, _('Закрыть')),
						' ',
						E('div', { class: 'btn success', "name": "apply",
							'click': ui.createHandlerFn(this, function() {
								// Check all form validity
								var widget_list = [comm, rssi, timeout, balance_min, balance_ussd, balance_mask, memo];
								var form_valid = true;
								if (form_valid) {
									return handleEdit(simid, sim_data, globals_data);
								}
								else {
									return 0;
								}
							})
						}, _('Сохранить'))
					])
				]);
				

				// Open modal
				/*
				L.showModal('Редактировать реле "' + sim_data["name"] +'"', [
					E('div', { class: 'cbi-map', 'style': "margin-top: 1em;" }, [
						E('div', { class: 'cbi-map-section' }, [
							E('div', { class: 'cbi-map-section-node' }, [
								E('div', { class: 'cbi-value' }, [
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Протокол') + ":"),
									E('div', { class: 'cbi-value' }, [
										proto.render()
									])
								]),
								E('div', { class: 'cbi-value' }, [
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Расшифровка статуса ON') + ":"),
									E('div', { class: 'cbi-value', style: 'width: auto;' }, [
										state_on_term.render(),
									]),
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Расшифровка статуса OFF') + ":"),
									E('div', { class: 'cbi-value', style: 'width: auto;' }, [
										state_off_term.render(),
									])
								]),
								E('div', { class: 'cbi-value' }, [
									E('div', { class: 'cbi-value' }, [
										E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Номер реле на удалённом устройстве') + ":"),
										E('div', { class: 'cbi-value' }, [
											relay_number.render()
										])
									]),
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Время перезагрузки реле') + ":"),
									E('div', { class: 'cbi-value', style: 'width: auto;' }, [
										restart_time.render(),
									]),
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Адрес удалённого реле') + ":"),
									E('div', { class: 'cbi-value', style: 'width: auto;' }, [
										dest_addr.render(),
									]),
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Порт удалённого реле') + ":"),
									E('div', { class: 'cbi-value', style: 'width: auto;' }, [
										dest_port.render(),
									]),
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Логин') + ":"),
									E('div', { class: 'cbi-value', style: 'width: auto;' }, [
										login.render(),
									]),
									E('label', { 'class': 'cbi-value-title', 'style': 'padding-right:2rem;' }, _('Пароль') + ":"),
									E('div', { class: 'cbi-value', style: 'width: auto;' }, [
										password.render(),
									])
								])
							])
						])
					]),
					E('div', { class: 'cbi-value-field' }, [
						E('div', { class: 'btn', click: L.hideModal }, _('Закрыть')),
						' ',
						E('div', { class: 'btn success', "name": "apply",
							'click': ui.createHandlerFn(this, function() {
								// Check all form validity
								var widget_list = [proto, restart_time, dest_addr, dest_port, relay_number, login, password, state_on_term, state_off_term];
								var form_valid = true;
								for(var w of widget_list) {
									if(!w.isValid()) {
										form_valid = false
										break;
									}
								}
								if (form_valid) {
									sim_data["proto"] = proto.getValue()
									sim_data["restart_time"] = restart_time.getValue()
									sim_data["dest_addr"] = dest_addr.getValue()
									sim_data["dest_port"] = dest_port.getValue()
									sim_data["number"] = relay_number.getValue()
									sim_data["login"] = login.getValue()
									sim_data["password"] = password.getValue()
									globals_data["state"] = []
									globals_data["state"][0] = "0." + state_off_term.getValue()
									globals_data["state"][1] = "1." + state_on_term.getValue()
									return handleEdit(simid, sim_data, globals_data);
								}
								else {
									return 0;
								}
							})
						}, _('Сохранить'))
					])
				]);
				*/
			})	
		})
	})
}
function handleEdit(simid, sim_data, globals_data) {
	send_action("edit", simid, { "sim_data": sim_data, "globals_data": globals_data } )
}
//]]>
</script>