<%
	local config = "ts_skw92a"
	local uci = require "luci.model.uci".cursor()
	local util = require "luci.util"
	local globals = uci:get_all(config, "globals")
	--util.dumptable(globals)
%>
<script type="text/javascript">
//<![CDATA[

// gets a record from uci like <settings.globals.proto='first.Протокол 1' 'second.Протокол 2' 'third.Протокол 3'>
// returns object like {"first": "Протокол 1", "second": "Протокол 2", "third": "Протокол 3"}
function widgetPopulation(uci_section, uci) {
	var section = uci.get("<%=config%>", uci_section) || [];
	return function(uci_option) {
		var population = {}
		if (section[uci_option]) {
			section[uci_option].forEach(function(p) {
				population[p.split(".")[0]] = p.split(".")[1];
			})
		}
		return population
	}
}

function switch_sim(btn) {
	var globals_data = {}
	var simid = btn.getAttribute("data-simid") || null;

	console.log("switch to ", simid)

	var xhr = new XHR(false);
	xhr.post('<%=luci.dispatcher.build_url("admin", "system", "sim_list", "action")%>/'+ '%h/%h'.format("switch", simid), {"sim_data": []},
		function (x) {
			if (!x) {
				return;
			}
			//location.assign('<%=luci.dispatcher.build_url("admin", "system", "sim_list")%>');
		}
	);


	//window.socket.send('{"event": "switch-sim", "simid": "' + simid + '"}')
	L.require("ui").then(function(ui){
		L.require("uci").then(function(uci) {
			uci.load("<%=config%>").then(function(out){
				var sim_data = uci.get("<%=config%>", "sim_" + simid);
				var memo = new ui.Textfield(sim_data["name"], {
					disabled: true
				});

				var tableHTMLString = `
					<h3>Журнал переключения SIM-карты</h3>
					<div class="table">
						<div class="tr table-titles">
							<div class="th" style="width: 150px;">Дата / время</div>
							<div class="th" style="width: 33%;">Источник</div>
							<div class="th">Команда</div>
							<div class="th" style="padding-left: 25px;">Ответ</div>

						</div>
						<div class="tr cbi-rowstyle-0">
							<div class="td" data-title="Дата / время">
								<b>2021-05-01</b><i>13:35:10</i>
							</div>
							<div class="td" data-title="Источник">
								Модем
							</div>
							<div class="td" data-title="Команда">
								AT+CREG=?
							</div>
							<div class="td" data-title="Ответ">
								NOT READY
							</div>
						</div>

						<div class="tr cbi-rowstyle-0">
							<div class="td" data-title="Дата / время">
								<b>2021-05-01</b><i>13:35:10</i>
							</div>
							<div class="td" data-title="Источник">
								Микроконтроллер
							</div>
							<div class="td" data-title="Команда">
								~0:SIM.SEL=1
							</div>
							<div class="td" data-title="Ответ">
								OK
							</div>
						</div>

						<div class="tr cbi-rowstyle-0">
							<div class="td" data-title="Дата / время">
								<b>2021-05-01</b><i>13:35:10</i>
							</div>
							<div class="td" data-title="Событие">
								Связь установлена
							</div>
							<div class="td" data-title="Команда">
								AT+CSQ
							</div>
							<div class="td" data-title="Ответ">
								22,99 (rssi, bor)
							</div>
						</div>

						<div class="tr cbi-rowstyle-0">
							<div class="td" data-title="Дата / время">
								<b>2021-05-01</b><i>13:35:10</i>
							</div>
							<div class="td" data-title="Источник">
								Модем
							</div>
							<div class="td" data-title="Команда">
								AT+CUSD=*101#,15
							</div>
							<div class="td" data-title="Ответ">
								29,85 (руб)
							</div>
						</div>

						<div class="tr cbi-rowstyle-0">
							<div class="td" data-title="Дата / время">
								<b>2021-05-01</b><i>13:35:10</i>
							</div>
							<div class="td" data-title="Источник">
								Пользователь
							</div>
							<div class="td" data-title="Команда">
								~0:SIM.SEL=0
							</div>
							<div class="td" data-title="Ответ">
								OK
							</div>
						</div>
					</div>
				`
				var tblWrapper= document.createElement('div');
				tblWrapper.innerHTML= tableHTMLString;
				var tableHTMLNode= tblWrapper.firstChild;

				L.showModal('Активировать SIM-карту', [
					E('div', { class: 'cbi-map' }, [
						E('div', { class: 'cbi-map-section' }, [
							E('div', { class: 'cbi-map-section-node' }, [
								E('div', { class: 'cbi-value' }, [
									E('label', { 'class': 'cbi-value-title memo-edit' }, _('Наименование') + ":"),
									E('div', { class: 'cbi-value-field memo-view' }, [
										memo.render()
									])
								]),
								E('div', { class: 'cbi-value' }, [
									tblWrapper
								]),
							])
						])
					]),
					E('div', { class: 'cbi-value-field' }, [
						E('div', { class: 'btn success', click: L.hideModal }, _('Закрыть')),
					])
				]);
			})	
		})
	})
}
function handleEdit(simid, sim_data, globals_data) {
	send_action("edit", simid, { "sim_data": sim_data, "globals_data": globals_data } )
}
//]]>
</script>